.Pagination {
  margin-bottom: 100px;
}
.Pagination ul {
  margin: 0;
  list-style: none;
  padding: 0;
  text-align: center;
}
.PaginationItem {
  display: inline-block;
  margin: 5px;
}

.PaginationItem span {
  width: 25px;
  line-height: 21.2px;
  border: 2px solid grey;
  display: inline-block;
  vertical-align: middle;
  color: white;
  background-color: #868686;
  cursor: pointer;
}

.PaginationItem .activePage {
  background-color: #ff7474;
  color: white;
}
@media only screen and (max-device-width: 700px) {
  .Pagination {
    margin-bottom: 270px;
  }
}
